#home {
background: #394264 !important;

}

#about {
  background:#0099BC!important;
  width: 100% !important;
  margin:0 !important;
  padding:0 !important;
  text-align: center !important;
}
.app-grid {
background: #394264 !important;
padding-bottom: 1em !important;
}

.about {
  background:#0099BC!important;
  width: 100% !important;
  margin:0 !important;
  padding:0 !important;
  text-align: center !important;
  color: #fdfdfd;
}



.about-cms {
  background:#ecf0f1!important;
  width: 100% !important;
  margin:0 !important;
  padding:0 !important;
  text-align: center !important;
  color: #2c3e50 !important;
}

.portfolio {
  background:#ecf0f1 !important;
  width: 100% !important;
  margin:0 !important;
  padding:0 !important;
  text-align: center !important;
  color: #0099BC;
}

.contact {
  background:#ecf0f1 !important;
  width: 100% !important;
  margin:0 !important;
  padding:0 !important;
  text-align: center !important;
  color: #0099BC;
}
.uni-footer {
  background:#2c3e50 !important;
  width: 100% !important;
  margin:0 !important;
  padding:0 !important;
  text-align: center !important;
  color: #ecf0f1 !important;
}
.clear {
  height:1.2em ;
}
